/*.dropdown-button {
    padding: 8px;
    padding-left: 20px;
    border: none;
    cursor: pointer;
    background-color: #f8f8f8;
    color: #5e5e5e;
    margin-top: 8px;
    font-size: 16px;
}

.dropdown-content a {
    color: #5e5e5e;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content {
    padding-left: 8px;
    display: none;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding-bottom: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #ebebeb;
}

.dropdown:hover {
    background-color: #ebebeb;
}

.navbar-brand {
    margin: 4px;
}

.dropdown {
    display: none;
}

#navbar-content {
    display: none;
}

#hamburger-button {
    border: none;
    cursor: pointer;
    background-color: #f8f8f8;
    padding-top: 12px;
}

#hamburger-id {
    float: right;
    margin-right: 10px;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
    .container-fluid {
        width: auto;
    }

    #navbar-content {
        display: block;
    }
    
    .navbar-brand {
        font-size: 20px;
    }

    .dropdown-button {
        padding: 16px;
        margin: 0px;
        border: none;
        cursor: pointer;
        background-color: #f8f8f8;
        color: #5e5e5e;
    }

    .dropdown-content a {
        color: #5e5e5e;
        text-decoration: none;
        display: block;
    }

    .dropdown-content {
        padding: 0px;
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    #hamburger-id {
        display: none;
    }
}

@media screen and (min-width: 960px) {

}*/
